objs/
dist/README-SDL.txt
dist/README-glm.txt
dist/README-libogg.txt
dist/README-libopus.txt
dist/README-libpng.txt
dist/README-opusfile.txt
dist/SDL2.dll
dist/sound-minesweeper
dist/sound-minesweeper.exe
dist/sound-minesweeper.ilk
dist/sound-minesweeper.pdb
sprites/pack-sprites
sprites/pack-sprites.exe
sprites/pack-sprites.ilk
sprites/pack-sprites.pdb
sprites/sound-minesweeper/
